# ****************************************************
# Lazarus Data Store
# Build
# 'requirements.txt'
# Author: jcjuarez
# Description:
#      Root python requirements dependencies.
# ****************************************************

# Python SDK requirements.
-e sdk/python

# E2E tests requirements.
-r src/tests/e2e/requirements.txt

# Scripts requirements.
-r scripts/requirements.txt