# ****************************************************
# Copyright (c) 2025 Juan Carlos Juarez Garcia
# Licensed under the Business Source License 1.1
# See the LICENSE file in the
# project root for license terms.
# ****************************************************
# Lazarus Data Store
# Scripts
# 'requirements.txt'
# Author: jcjuarez
# Description:
#      E2E tests python requirements dependencies.
# ****************************************************

pytest>=8.0.0
requests>=2.31.0
pytest-xdist>=3.5.0
pytest-timeout>=2.3.1
testcontainers>=4.3.0