# ****************************************************
# PandoraDB
# Scripts
# 'requirements.txt'
# Author: jcjuarez
# Description:
#      Scripts python requirements dependencies.
# ****************************************************

PyYAML>=6.0